{% extends 'base.html' %}

{% block title %}Start a New Topic{% endblock %}
{% block content %}
<body>
    <div class="px-4 py-4 sm:px-6 lg:px-8">
        
        <form class="space-y-8 divide-y divide-gray-200" method="post">
            {% csrf_token %}
            <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
              <div class="space-y-6 sm:space-y-5">
                <div>
                  <h3 class="text-lg font-medium leading-6 text-gray-900">Creating new  Board</h3>
                  <p class="mt-1 max-w-2xl text-sm text-gray-500"></p>
                </div>
          
                <div class="space-y-6 sm:space-y-5">
                  <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                    <label for="name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Name</label>
                    <div class="mt-1 sm:col-span-2 sm:mt-0">
                      <div class="flex max-w-lg rounded-md shadow-sm">
                        <input type="text" name="name" id="name" class="form-control block w-full min-w-0 flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" aria-invalid="true">
                      </div>
                    </div>
                  </div>

                  <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                    <label for="description" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Description</label>
                    <div class="mt-1 sm:col-span-2 sm:mt-0">
                      <div class="flex max-w-lg rounded-md shadow-sm">
                        <input type="text" name="description" id="description" class="form-control block w-full min-w-0 flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" aria-invalid="true">
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          
            <div class="pt-5">
              <div class="flex justify-center">
                <button type="submit" class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Post</button>
              </div>
            </div>
          </form>
      </div>
</body>
  
{% endblock %}